body {
	background-color: #4C443C;
	font-family: 'Times New Roman', Times, serif;
	font-size: 11pt;
}

a {
	color: #D6733D;
	text-decoration: none;
}

table {
	border-collapse: collapse;
}

td {
	padding-right: 20px;
}

a:hover {
	text-decoration: underline;
}

#outerContent {
	width: 886px;
	margin-left: auto;
	margin-right: auto;
}

#innerContent {
	height: 471px;
	border: 1px solid #EEE4C0;
	border-radius: 10px;
}

#nav {
	margin-left: 0;
	padding-left: 0;
	color: #EEE5BC;
	font-size: 14pt;
}

#nav a {
	color: #EEE5BC;
	text-decoration: none;
}

#nav a:hover {
	text-decoration: underline;
}

#nav a.selected {
	color: #D6733D;
}

#nav li {
	display: inline;
	margin: 0;
	padding: 0;
}

#nav li:before {
	margin-left: 10px;
	margin-right: 10px;
	padding: 0;
}

#nav li + li:before {
	content: '\2013';
}

.content {
	width: 884px;
	height: 471px;
	border-radius: 10px;
	background-repeat: no-repeat;
	background-color: white;
	margin: 0;
	padding: 0;
}

.content h1 {
	font-size: 14pt;
}

.content .logo {
	text-align: right;
	padding-right: 45px;
	padding-top: 12px;
}

.content p {
	margin-right: 40px;
}

#home {
	background-image: url('../assets/bg_home.jpg');
}

#uberuns {
	background-image: url('../assets/bg_uberuns.jpg');
}

#konzerte {
	background-image: url('../assets/bg_konzerte.jpg');
}

#rep {
	background-image: url('../assets/bg_rep.jpg');
}

#demo {
	background-image: url('../assets/bg_demo.jpg');
}

.content .scrollable {
	overflow: auto;
}

.content .twocol {
	margin-left: 300px;
	height: 350px;
}

.content .bgontop {
	height: 250px;
}